@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Code Snipits</h1>
    <p>An easy to use tool to store your ideas, and code snips</p>
</div>
<div class="text-center">
    <a class="btn btn-danger" asp-area="Identity" asp-page="/Account/Register">Get Started Now</a>
</div>
