@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h3>Sharing with third parties</h3>
<p>No information is shared with third parties.</p>
<h3>Using the Snips service</h3>
<p>An email address is required to use the service. We also use cookies too:</p>
<ul>
    <li>remember that you’re logged in to your account between visits;</li>
    <li>store short-lived informational messages (“flash messages”), like telling you that you’ve completed an operation or that there was an error.</li>
</ul>
