@model Snips.Data.EndOfDayCheckIn

<style>
    .control-label {
        font-size: xx-large;
    }

    #codeEditor {
        height: 500px;
        width: 100%;
    }
</style>
<h4>Edit - End Of Day Check In</h4>
<hr />
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label" for="Created">Date Created</label>
                <div class="row">
                    <div class="col-6">
                        <input type="date" asp-for="Created" class="form-control" />

                    </div>
                    <div class="col-6">

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="Comments">Comments</label>
                <input asp-for="Comments" class="form-control" hidden />
                <div id="editorContentComments" style="height: 300px;">
                    @Html.Raw(Model.Comments)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="WhatWentWell">What Went Well</label>
                <input asp-for="WhatWentWell" class="form-control" hidden />
                <div id="editorContentWhatWentWell" style="height: 300px;">
                    @Html.Raw(Model.WhatWentWell)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="WhatWentWell">What Went Bad</label>
                <input asp-for="WhatWentBad" class="form-control" hidden />
                <div id="editorContentWhatWentBad" style="height: 300px;">
                    @Html.Raw(Model.WhatWentBad)
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        window.addEventListener('load', (event) => {
            var toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote', 'code-block'],

                [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
                [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
                [{ 'direction': 'rtl' }],                         // text direction

                [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

                [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                [{ 'font': [] }],
                [{ 'align': [] }],

                ['clean']                                         // remove formatting button
            ];
            var quillDocsComments = new Quill('#editorContentComments', {
                theme: 'snow',
                modules: {
                    toolbar: toolbarOptions
                },
            });
            quillDocsComments.on('text-change', function (delta) {
                var Documentation = document.querySelector('input[name=Comments]');
                Documentation.value = quillDocsComments.root.innerHTML;
            });


            var quillDocsWhatWentWell = new Quill('#editorContentWhatWentWell', {
                theme: 'snow',
                modules: {
                    toolbar: toolbarOptions
                },
            });
            quillDocsWhatWentWell.on('text-change', function (delta) {
                var Documentation = document.querySelector('input[name=WhatWentWell]');
                Documentation.value = quillDocsWhatWentWell.root.innerHTML;
            });


            var quillDocsWhatWentBad = new Quill('#editorContentWhatWentBad', {
                theme: 'snow',
                modules: {
                    toolbar: toolbarOptions
                },
            });
            quillDocsWhatWentBad.on('text-change', function (delta) {
                var Documentation = document.querySelector('input[name=WhatWentBad]');
                Documentation.value = quillDocsWhatWentBad.root.innerHTML;
            });

        });
    </script>
}
